<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>Viet Nam</param-value>
    </context-param>
    <filter>
        <filter-name>IsCustomerFilter</filter-name>
        <filter-class>duonght.filter.IsCustomerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IsCustomerFilter</filter-name>
        <servlet-name>SearchByDateServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>duonght.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>duonght.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>duonght.servlet.SearchServlet</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>duonght.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>duonght.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReOrder</servlet-name>
        <servlet-class>duonght.servlet.ReOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>duonght.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>duonght.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>duonght.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>duonght.servlet.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>duonght.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPlantServlet</servlet-name>
        <servlet-class>duonght.servlet.GetPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountsServlet</servlet-name>
        <servlet-class>duonght.servlet.manageAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <servlet-class>duonght.servlet.UpdateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>duonght.servlet.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByDateServlet</servlet-name>
        <servlet-class>duonght.servlet.SearchByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProcessingOrdersServlet</servlet-name>
        <servlet-class>duonght.servlet.GetProcessingOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCompletedOrdersServlet</servlet-name>
        <servlet-class>duonght.servlet.GetCompletedOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCanceledOrdersServlet</servlet-name>
        <servlet-class>duonght.servlet.GetCanceledOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>duonght.servlet.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePlantsServlet</servlet-name>
        <servlet-class>duonght.servlet.ManagePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusPlantSerlvet</servlet-name>
        <servlet-class>duonght.servlet.UpdateStatusPlantSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePlantServlet</servlet-name>
        <servlet-class>duonght.servlet.CreatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryServlet</servlet-name>
        <servlet-class>duonght.servlet.GetCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlantServlet</servlet-name>
        <servlet-class>duonght.servlet.DeletePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlantSerlvet</servlet-name>
        <servlet-class>duonght.servlet.UpdatePlantSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <servlet-class>duonght.servlet.CreateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>duonght.servlet.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>duonght.servlet.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelelteAccountServlet</servlet-name>
        <servlet-class>duonght.servlet.DelelteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyMailServlet</servlet-name>
        <servlet-class>duonght.servlet.VerifyMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>duonght.logingoole.GoogleUtils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>duonght.servlet.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReOrder</servlet-name>
        <url-pattern>/ReOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPlantServlet</servlet-name>
        <url-pattern>/GetPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountsServlet</servlet-name>
        <url-pattern>/manageAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <url-pattern>/UpdateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByDateServlet</servlet-name>
        <url-pattern>/SearchByDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProcessingOrdersServlet</servlet-name>
        <url-pattern>/GetProcessingOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCompletedOrdersServlet</servlet-name>
        <url-pattern>/GetCompletedOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCanceledOrdersServlet</servlet-name>
        <url-pattern>/GetCanceledOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePlantsServlet</servlet-name>
        <url-pattern>/ManagePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusPlantSerlvet</servlet-name>
        <url-pattern>/UpdateStatusPlantSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlantServlet</servlet-name>
        <url-pattern>/CreatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryServlet</servlet-name>
        <url-pattern>/GetCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlantServlet</servlet-name>
        <url-pattern>/DeletePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlantSerlvet</servlet-name>
        <url-pattern>/UpdatePlantSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <url-pattern>/CreateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/UpdateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelelteAccountServlet</servlet-name>
        <url-pattern>/DelelteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyMailServlet</servlet-name>
        <url-pattern>/VerifyMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>SearchServlet</welcome-file>
    </welcome-file-list>
</web-app>
